@using System.Linq.Expressions
@using iRLeagueApiCore.Common.Enums;
@using iRLeagueApiCore.Common.Models
@using iRLeagueManager.Web.ViewModels
@inherits MvvmComponentBase
@inject IDialogService DialogService

<div @attributes=AdditionalAttributes>
    <MudToolBar>
        <MudText Typo="Typo.h5">@Result.SessionName</MudText>
        <MudSpacer/>
        <MudIconButton Icon="@Icons.Material.Filled.Info" Title="Show penalties" OnClick=ShowPenaltiesClick/>
    </MudToolBar>
    @{
        var resultRows = Result.ResultRows;
        var displayBonusPoints = resultRows.Any(x => x.BonusPoints != 0);
        var displayStartPos = resultRows.Any(x => x.StartPosition != 0);
        var displayChange = displayStartPos;
        var displayQualyLap = resultRows.Any(x => x.QualifyingTime > TimeSpan.FromSeconds(1));
    }
    <ResultTable Data=Result.ResultRows>
        <HeaderTemplate>
            <ResultTableHeader Text="Pos." Sort=@(x => x.FinalPosition) Default=true/>
            @if (isTeamResult == false)
            {
                @if (displayStartPos)
                {
                    <ResultTableHeader Text="Start" Sort=@(x => x.StartPosition) />
                }
                <ResultTableHeader Text="Name" Sort="@(x => x.Firstname)" />
            }
            <ResultTableHeader Text="Team" Sort=@(x => x.TeamName)/>
            @if (displayQualyLap)
            {
                <ResultTableHeader Text="Qualy Lap" Sort="@(x => x.QualifyingTime)" />
            }
            <ResultTableHeader Text="Fastest Lap" Sort="@(x => x.FastestLapTime)" />
            <ResultTableHeader Text="Avg. Lap" Sort="@(x => x.AvgLapTime)" />
            <ResultTableHeader Text="Interval" Sort="@(x => x.Interval)" />
            <ResultTableHeader Text="Laps Lead" Sort="@(x => x.LeadLaps)" Direction="ViewModels.SortDirection.Descending" />
            <ResultTableHeader Text="Laps Compl." Sort="@(x => x.CompletedLaps)" Direction="ViewModels.SortDirection.Descending" />
            <ResultTableHeader Text="Race Pts." Sort="@(x => x.RacePoints)" Direction="ViewModels.SortDirection.Descending" />
            @if (displayBonusPoints)
            {
                <ResultTableHeader Text="Bonus Pts." Sort="@(x => x.BonusPoints)" Direction="ViewModels.SortDirection.Descending" />
            }
            <ResultTableHeader Text="Penalty" Sort="@(x => x.PenaltyPoints)" />
            <ResultTableHeader Text="Total Pts." Sort="@(x => x.TotalPoints)" Direction="ViewModels.SortDirection.Descending" />
            @if (isTeamResult == false)
            {
                <ResultTableHeader Text="@($"IR ({EvenStrengthOfField(Result)})")" Sort="@(x => x.OldIrating)" Direction="ViewModels.SortDirection.Descending" />
            }
            <ResultTableHeader Text="Incs." Sort="@(x => x.Incidents)" />
            @if (CanEdit)
            {
                <th></th>
            }
        </HeaderTemplate>
        <RowTemplate Context=Row>
            <td class="pa-1">
                <ValueChange Value=Row.FinalPosition Change=@(displayChange ? Row.FinalPositionChange : 0)>
                    <ValueTemplate Context=Value>
                        @Value.
                    </ValueTemplate>
                </ValueChange>
            </td>
            @if (isTeamResult == false)
            {
                @if (displayStartPos)
                {
                    <td class="pa-1">@Row.StartPosition.</td>
                }
                <td class="pa-1" style="white-space: nowrap">@Row.Firstname @Row.Lastname</td>
            }
            <td class="pa-1" style="color: @(Row.TeamColor); white-space: nowrap">@(Row.TeamName)</td>
            @if (displayQualyLap)
            {
                <td class="pa-1 @(IsFastestLap(resultRows, Row, x => x.QualifyingTime) ? "fw-bold" : "")">@Row.QualifyingTime.LapTimeString()</td>
            }
            <td class="pa-1 @(IsFastestLap(resultRows, Row, x => x.FastestLapTime) ? "fw-bold" : "")">@Row.FastestLapTime.LapTimeString() @(Row.FastLapNr != 0 ? $"({Row.FastLapNr})" : "")</td>
            <td class="pa-1 @(IsFastestLap(resultRows, Row, x => x.AvgLapTime) ? "fw-bold" : "")">@Row.AvgLapTime.LapTimeString()</td>
            <td class="pa-1">+@(Row.Interval.Laps == 0 ? Row.Interval.Time.LapTimeString() : $"{Row.Interval.Laps} Laps")</td>
            <td class="pa-1">@Row.LeadLaps</td>
            <td class="pa-1">@Row.CompletedLaps</td>
            <td class="pa-1">@Row.RacePoints</td>
            @if (displayBonusPoints)
            {
                <td class="pa-1">@Row.BonusPoints</td>
            }
            <td class="pa-1" style="@(@Row.PenaltyPoints != 0 ? "color:red" : "")">
                @(Row.PenaltyPoints != 0 ? $"-{Row.PenaltyPoints}" : "")
            </td>
            <td class="pa-1">@Row.TotalPoints</td>
            @if (isTeamResult == false)
            {
                <td class="pa-1">@Row.OldIrating</td>
            }
            <td class="pa-1">@Row.Incidents</td>
            @if (CanEdit)
            {
                <td class="pa-1">
                    <MudMenu Icon="@Icons.Material.Filled.Menu" Dense="true" Size="Size.Small">
                        <MudMenuItem OnClick="() => OnRowOptionsClick(Row)">Add Penalty</MudMenuItem>
                    </MudMenu>
                </td>
            }
        </RowTemplate>
    </ResultTable>
</div>

@code {
    [CascadingParameter]
    private EventListViewModel EventList { get; set; } = default!;
    [CascadingParameter]
    public IModalService ModalService { get; set; } = default!;
    [Parameter(CaptureUnmatchedValues = true)]
    public IDictionary<string, object>? AdditionalAttributes { get; set; }
    [Parameter, EditorRequired]
    public SessionResultViewModel Result { get; set; } = default!;
    [Parameter]
    public bool CanEdit { get; set; } = false;

    private bool isTeamResult = false;

    private bool showDisqualification = false;

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        BlazorParameterNullException.ThrowIfNull(this, EventList);
        BlazorParameterNullException.ThrowIfNull(this, ModalService);
        BlazorParameterNullException.ThrowIfNull(this, Result);
        isTeamResult = Result.ResultRows.Any(x => x.MemberId == null);
        showDisqualification = Result.ResultRows.Any(x => x.Status == RaceStatus.Disqualified);
    }

    private bool IsFastestLap(IEnumerable<ResultRowModel> resultRows, ResultRowModel row, Func<ResultRowModel, TimeSpan> selector)
    {
        var rowValue = selector(row);
        var minValue = resultRows
        .Select(x => selector(x))
        .Where(x => x > TimeSpan.FromSeconds(1))
        .MinOrDefault();
        return rowValue == minValue;
    }

    private int EvenStrengthOfField(SessionResultViewModel result)
    {
        return result.EventResult?.StrengthOfField ?? 0;
    }

    private async Task OnRowOptionsClick(ResultRowModel row)
    {
        var parameters = new DialogParameters<EditAddPenaltyModal>()
        {
            {x => x.Model, new()},
            {x => x.AvailableSessions, Result.EventResult?.GetModel().SessionResults ?? Array.Empty<ResultModel>()},
            {x => x.SelectedSession, Result.GetModel()},
            {x => x.SelectedRow, row},
            {x => x.CanSelectSession, true},
            {x => x.OnSubmit, async (p, ct) => await p.SaveNew(ct)},
            {x => x.IsTeamResult, isTeamResult},
        };
            
        var result = await DialogService.Show<EditAddPenaltyModal>("Add Penalty", parameters).Result;
    }

    private async Task ShowPenaltiesClick()
    {
        if (Result.EventResult is null)
        {
            return;
        }
        async Task<IEnumerable<PenaltyModel>> GetPenalties() {
            var penalties = await Result.EventResult.GetPenalties();
            if (penalties.IsSuccess == false || penalties.Content is null)
            {
                return Array.Empty<PenaltyModel>();
            }
            return penalties.Content.Where(x => Result.SessionNr == 999 || x.SessionNr == Result.SessionNr);
        }

        var parameters = new ModalParameters<ShowPenaltiesModal>()
            .Add(x => x.GetPenalties, GetPenalties)
            .Add(x => x.CanEdit, CanEdit)
            .Add(x => x.IsTeamResult, isTeamResult);
        var options = new ModalOptions()
        {
            DisableBackgroundCancel = false,
        };
        var result = await ModalService.Show<ShowPenaltiesModal>("Bonuses / Penalties", parameters, options).Result;
    }
}
