@using System.Linq.Expressions
@using iRLeagueApiCore.Common.Models
@using iRLeagueManager.Web.ViewModels
@inherits MvvmComponentBase

<div @attributes=AdditionalAttributes>
    <div class="card my-2" id="results-session-@Bind(Result, x => x.SessionName)">
        <div class="card-header">
            @Bind(Result, x => x.SessionName)
        </div>
        @{
            var resultRows = Result.ResultRows;
            var displayBonusPoints = resultRows.Any(x => x.BonusPoints != 0);
            var displayStartPos = resultRows.Any(x => x.StartPosition != 0);
            var displayChange = displayStartPos;
            var displayQualyLap = resultRows.Any(x => x.QualifyingTime > TimeSpan.FromSeconds(1));
        }
        <div class="card-body overflow-auto p-1">        
            <ResultTable Data=Result.ResultRows>
                <HeaderTemplate>
                    <ResultTableHeader Text="Pos." Sort=@(x => x.FinalPosition) Default=true/>
                    @if (isTeamResult == false)
                    {
                        @if (displayStartPos)
                        {
                            <ResultTableHeader Text="Start" Sort=@(x => x.StartPosition) />
                        }
                        <ResultTableHeader Text="Name" Sort="@(x => x.Firstname)" />
                    }
                    <ResultTableHeader Text="Team" Sort=@(x => x.TeamName)/>
                    @if (displayQualyLap)
                    {
                        <ResultTableHeader Text="Qualy Lap" Sort="@(x => x.QualifyingTime)" />
                    }
                    <ResultTableHeader Text="Fastest Lap" Sort="@(x => x.FastestLapTime)" />
                    <ResultTableHeader Text="Avg. Lap" Sort="@(x => x.AvgLapTime)" />
                    @if (isTeamResult == false)
                    {
                        <ResultTableHeader Text="Interval" Sort="@(x => x.Interval)" />
                        <ResultTableHeader Text="Laps Lead" Sort="@(x => x.LeadLaps)" Direction="SortDirection.Descending" />
                        <ResultTableHeader Text="Laps Compl." Sort="@(x => x.CompletedLaps)" Direction="SortDirection.Descending" />
                    }
                    <ResultTableHeader Text="Race Pts." Sort="@(x => x.RacePoints)" Direction="SortDirection.Descending" />
                    @if (displayBonusPoints)
                    {
                        <ResultTableHeader Text="Bonus Pts." Sort="@(x => x.BonusPoints)" Direction="SortDirection.Descending" />
                    }
                    <ResultTableHeader Text="Penalty" Sort="@(x => x.PenaltyPoints)" />
                    <ResultTableHeader Text="Total Pts." Sort="@(x => x.TotalPoints)" Direction="SortDirection.Descending" />
                    @if (isTeamResult == false)
                    {
                        <ResultTableHeader Text="@($"IR ({EvenStrengthOfField(Result)})")" Sort="@(x => x.OldIrating)" Direction="SortDirection.Descending" />
                    }
                    <ResultTableHeader Text="Incs." Sort="@(x => x.Incidents)" />
                </HeaderTemplate>
                <RowTemplate Context=Row>
                    <td>
                        <ValueChange Value=Row.FinalPosition Change=@(displayChange ? Row.FinalPositionChange : 0)>
                            <ValueTemplate Context=Value>
                                @Value.
                            </ValueTemplate>
                        </ValueChange>
                    </td>
                    @if (isTeamResult == false)
                    {
                        @if (displayStartPos)
                        {
                            <td>@Row.StartPosition.</td>
                        }
                        <td>@Row.Firstname @Row.Lastname</td>
                    }
                    <td style="color:@(Row.TeamColor)">@(Row.TeamName)</td>
                    @if (displayQualyLap)
                    {
                        <td class="@(IsFastestLap(resultRows, Row, x => x.QualifyingTime) ? "fw-bold" : "")">@Row.QualifyingTime.LapTimeString()</td>
                    }
                    <td class="@(IsFastestLap(resultRows, Row, x => x.FastestLapTime) ? "fw-bold" : "")">@Row.FastestLapTime.LapTimeString() @(Row.FastLapNr != 0 ? $"({Row.FastLapNr})" : "")</td>
                    <td class="@(IsFastestLap(resultRows, Row, x => x.AvgLapTime) ? "fw-bold" : "")">@Row.AvgLapTime.LapTimeString()</td>
                    @if (isTeamResult == false)
                    {
                        <td>+@(Row.Interval.Laps == 0 ? Row.Interval.Time.LapTimeString() : $"{Row.Interval.Laps} Laps")</td>
                        <td>@Row.LeadLaps</td>
                        <td>@Row.CompletedLaps</td>
                    }
                    <td>@Row.RacePoints</td>
                    @if (displayBonusPoints)
                    {
                        <td>@Row.BonusPoints</td>
                    }
                    <td style="@(@Row.PenaltyPoints != 0 ? "color:red" : "")">
                        @(Row.PenaltyPoints != 0 ? $"-{Row.PenaltyPoints}" : "")
                    </td>
                    <td>@Row.TotalPoints</td>
                    @if (isTeamResult == false)
                    {
                        <td>@Row.OldIrating</td>
                    }
                    <td>@Row.Incidents</td>
                </RowTemplate>
            </ResultTable>
        </div>
    </div>
</div>

@code {
    [CascadingParameter]
    private EventListViewModel EventList { get; set; } = default!;
    [Parameter(CaptureUnmatchedValues = true)]
    public IDictionary<string, object>? AdditionalAttributes { get; set; }
    [Parameter, EditorRequired]
    public SessionResultViewModel Result { get; set; } = default!;

    private bool isTeamResult = false;

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        isTeamResult = Result?.ResultRows.Any(x => x.MemberId == null) ?? false;
    }

    private bool IsFastestLap(IEnumerable<ResultRowModel> resultRows, ResultRowModel row, Func<ResultRowModel, TimeSpan> selector)
    {
        var rowValue = selector(row);
        var minValue = resultRows
            .Select(x => selector(x))
            .Where(x => x > TimeSpan.FromSeconds(1))
            .MinOrDefault();
        return rowValue == minValue;
    }

    private int EvenStrengthOfField(SessionResultViewModel result)
    {
        return result.EventResult?.StrengthOfField ?? 0;
    }
}
