@using iRLeagueApiCore.Common.Enums;
@using iRLeagueApiCore.Common.Models;
@inherits LeagueComponentBase
@inject SharedStateService Shared
@inject AddPenaltyViewModel Vm

@{
    var showSessionName = Penalties
        .Select(x => x.SessionNr)
        .Distinct()
        .Count() > 1;
}

@foreach(var penalty in Penalties)
{
    <div class="card mb-2">
        @if(showSessionName)
        {
            <div class="card-header">
                <label>@penalty.SessionName</label>
            </div>
        }
        <div class="card-body">
            <div class="row mb-2">
                <div class="col-6">
                    <h6 class="text-muted">Driver</h6>
                    @penalty.Firstname @penalty.Lastname
                </div>
                <div class="col-3">
                    @if (string.IsNullOrWhiteSpace(penalty.Lap) == false)
                    {
                        <h6 class="text-muted">Lap</h6>
                        @penalty.Lap
                    }
                </div>
                <div class="col-3">
                    @if (string.IsNullOrWhiteSpace(penalty.Corner) == false)
                    {
                        <h6 class="text-muted">Corner</h6>
                        @penalty.Corner
                    }
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-6">
                    <label style="color: @GetPenaltyColor(penalty)">@GetPenaltyValueString(penalty)</label>
                </div>
                <div class="col-6">
                    @penalty.Reason
                </div>
            </div>
            <div class="d-flex justify-content-end position-absolute top-0 end-0">
                @if (penalty.ReviewId != null)
                {
                    <a class="btn text-muted" href="@($"/{Shared.LeagueName}/Reviews/Events/{penalty.EventId}?reviewId={penalty.ReviewId}")">
                        <span class="bi bi-clipboard2-data" />
                    </a>
                }
                @if (penalty.AddPenaltyId != null && CanEdit)
                {
                    <a class="btn text-muted" @onclick="@(() => EditAddPenaltyAsync(penalty))">
                        <span class="bi bi-pencil-square" />
                    </a>
                    <a class="btn text-muted" @onclick="@(() => DeleteAddPenaltyAsync(penalty))">
                        <span class="bi bi-trash" />
                    </a>
                }
            </div>
        </div>
    </div>
}

@code {
    [CascadingParameter]
    public IModalService ModalService { get; set; } = default!;
    [Parameter]
    public IEnumerable<PenaltyModel> Penalties { get; set; } = default!;
    [Parameter]
    public bool CanEdit { get; set; } = false;

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        BlazorParameterNullException.ThrowIfNull(this, ModalService);
        BlazorParameterNullException.ThrowIfNull(this, Penalties);
    }

    private string GetPenaltyTypeString(PenaltyType type) => type switch
    {
        PenaltyType.Points => "Points",
        PenaltyType.Position => "Positions",
        PenaltyType.Time => "Time",
        _ => string.Empty,
    };

    private string GetPenaltyValueString(PenaltyModel penalty) => penalty.Type switch
    {
        PenaltyType.Points => $"- {penalty.Points} pt{(penalty.Points != 1 ? "s" : "")}",
        PenaltyType.Position => $"+ {penalty.Positions.ToString()} position{(penalty.Positions != 1 ? "s" : "")}",
        PenaltyType.Time => $"+ {penalty.Time.ToString()}",
        _ => string.Empty,
    };

    private string GetPenaltyColor(PenaltyModel penalty) => penalty.Type switch
    {
        PenaltyType.Position or PenaltyType.Points => "red",
        _ => "inherit",
    };

    private async Task EditAddPenaltyAsync(PenaltyModel penalty)
    {
        var parameters = new ModalParameters<EditAddPenaltyModal>()
            .Add(x => x.Model, penalty)
            .Add(x => x.CanSelectSession, false)
            .Add(x => x.CanSelectDriver, false)
            .Add(x => x.OnSubmit, async (p, ct) => await p.SaveChanges(ct));
        await ModalService.Show<EditAddPenaltyModal>("Edit penalty", parameters).Result;
    }

    private async Task DeleteAddPenaltyAsync(PenaltyModel penalty)
    {
        var parameters = new ModalParameters<ConfirmModal>()
            .Add(x => x.Text, $"Really delete this penalty for {penalty.Firstname} {penalty.Lastname}?")
            .Add(x => x.ButtonTypes, ButtonTypes.YesNo);
        var confirmed = await ModalService.Show<ConfirmModal>("Delete penalty", parameters).Result;
        if (confirmed.Confirmed == false)
        {
            return;
        }
        Vm.SetModel(penalty);
        var result = await Vm.Delete();
        if (result.IsSuccess)
        {
            Penalties = Penalties.Where(x => x != penalty);
        }
    }
}
