@using iRLeagueApiCore.Common.Enums;
@using iRLeagueApiCore.Common.Models;
@inject SharedStateService Shared

@{
    var showSessionName = Penalties
        .Select(x => x.SessionNr)
        .Distinct()
        .Count() > 1;
}

@foreach(var penalty in Penalties)
{
    <div class="card mb-2">
        @if(showSessionName)
        {
            <div class="card-header">
                <label>@penalty.SessionName</label>
            </div>
        }
        <div class="card-body">
            <div class="row mb-2">
                <div class="col-6">
                    <h6 class="text-muted">Driver</h6>
                    @penalty.Firstname @penalty.Lastname
                </div>
                <div class="col-3">
                    @if (string.IsNullOrWhiteSpace(penalty.Lap) == false)
                    {
                        <h6 class="text-muted">Lap</h6>
                        @penalty.Lap
                    }
                </div>
                <div class="col-3">
                    @if (string.IsNullOrWhiteSpace(penalty.Corner) == false)
                    {
                        <h6 class="text-muted">Corner</h6>
                        @penalty.Corner
                    }
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-6">
                    <label style="color: @GetPenaltyColor(penalty)">@GetPenaltyValueString(penalty)</label>
                </div>
                <div class="col-6">
                    @penalty.Reason
                </div>
            </div>
            @if (penalty.ReviewId != null)
            {
                <a class="btn position-absolute top-0 end-0 text-muted" href="@($"/{Shared.LeagueName}/Reviews/Events/{penalty.EventId}?reviewId={penalty.ReviewId}")">
                    <span class="bi bi-clipboard2-data" />
                </a>
            }
        </div>
    </div>
}

@code {
    [Parameter]
    public IEnumerable<PenaltyModel> Penalties { get; set; } = default!;

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        BlazorParameterNullException.ThrowIfNull(this, Penalties);
    }

    private string GetPenaltyTypeString(PenaltyType type) => type switch
    {
        PenaltyType.Points => "Points",
        PenaltyType.Position => "Positions",
        PenaltyType.Time => "Time",
        _ => string.Empty,
    };

    private string GetPenaltyValueString(PenaltyModel penalty) => penalty.Type switch
    {
        PenaltyType.Points => $"- {penalty.Points} pt{(penalty.Points != 1 ? "s" : "")}",
        PenaltyType.Position => $"+ {penalty.Positions.ToString()} position{(penalty.Positions != 1 ? "s" : "")}",
        PenaltyType.Time => $"+ {penalty.Time.ToString()}",
        _ => string.Empty,
    };

    private string GetPenaltyColor(PenaltyModel penalty) => penalty.Type switch
    {
        PenaltyType.Position or PenaltyType.Points => "red",
        _ => "inherit",
    };
}
