@page "/{LeagueName}/seasons"
@using iRleagueManager.Web.Server.Data;
@inject HttpClient Http;
@inject ApiAuthentication Authenticator 
@inject ILocalStorageService localStorage;

<h1>League: @LeagueName</h1>

@if (SeasonList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div>
        <h3>Seasons</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>ScheduleIds</th>
                    <th>Schedules</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var season in SeasonList)
                {
                    <tr>
                        <td>@season.SeasonId</td>
                        <td>@season.SeasonName</td>
                        <td>[@season.ScheduleIds.Select(x => x.ToString()).Aggregate((x, y) => $"{x}, {y}");]</td>
                        <td>
                            @foreach(var schedule in season.Schedules)
                            {
                                @schedule.Name<br/>
                                <div>
                                    @foreach(var session in schedule.Sessions)
                                    {
                                        @session.Name<br/>    
                                    }
                                </div>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
