@using iRLeagueApiCore.Common.Models
@using iRLeagueManager.Web.ViewModels
@inherits MvvmComponentBase
@inject ClientLocalTimeProvider ClientTime

@{var maxRaceCount = @Schedule.MaxRaceCount;}
<div @attributes=AdditionalAttributes>
    <div class="card my-2 pb-0">
        <LoadingHeader class="card-header">
            @if(ReadOnly == false)
            {
                <div class="input-group @(EditName ? "" : " d-none")">
                    <input type="text" class="form-control" @bind="Schedule.Name" @ref="ScheduleNameInput" @onkeydown=@(async args => { if (args.Key == "Enter") { await SaveName(); } })/>
                    <button type="button" class="btn btn-success @(Schedule.Loading ? "disabled" : "")" @onclick=@SaveName>
                        &#10004 
                        @if (Schedule.Loading)
                        {
                            <span class="spinner-border spinner-border-sm mr-1"></span>
                        }
                    </button>
                    <button type="button" class="btn btn-danger @(Schedule.Loading ? "disabled" : "")" @onclick=@ResetName>&#128473;</button>
                </div>
                <div class="d-flex hover-button pointer @(EditName ? " d-none" : "")" @onclick=@EditNameClick> 
                    <div>@Bind(Schedule, x => x.Name)</div>
                    <div class="hover-button-text">
                        <span class="oi oi-pencil" />
                    </div>
                </div>
            }
            else
            {
                <div>@Bind(Schedule, x => x.Name)</div>
            }
        </LoadingHeader>
        <div class="card-body overflow-auto">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Nr.</th>
                        <th>Date</th>
                        <th>Name</th>
                        <th>Track</th>
                        <th>Laps</th>
                        <th>Start</th>
                        <th>Practice</th>
                        <th>Qualy</th>
                        @for(int i=0; i<maxRaceCount; i++)
                        {
                            <th>Race @(i+1)</th>
                        }
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                @foreach((var @event, var index) in @Bind(Schedule, x => x.Events).Select((x, i) => (x, i)))
                {
                    var eventId = @event.EventId;
                    var races = @Bind(@event, x => x.Races);

                    <tr @onclick="@(() => OnTableRowClick(@event))" class="@(ReadOnly ? "" : "pointer")">
                        <td>@(index + 1).</td>
                        <td>@(@event.Date.ToString(@"dd.MM.yyyy"))</td>
                        <td>@(@event.Name)</td>
                        <td>@(@event.TrackName)@(@event.ConfigName == "-" ? "" : $" - {@event.ConfigName}")</td>
                        <td>@(@event.Laps)</td>
                        <td>@(@event.StartTime.ToString(@"HH:mm"))</td>
                        <td>@(DurationString(@event.Practice))</td>
                        <td>@(DurationString(@event.Qualifying))</td>
                        @for(int i=0; i<maxRaceCount; i++)
                        {
                            var race = races.ElementAtOrDefault(i);
                            @if (race != null)
                            {
                                <td>@DurationString(race)</td>
                            }
                            else 
                            {
                                <td></td>
                            }
                        }
                        <td>
                            @if (ReadOnly == false)
                            {
                                <button class="btn btn-outline-danger btn-sm" @onclick=@(() => RemoveEventClick(@event)) @onclick:stopPropagation @onclick:preventDefault>
                                    <span class="oi oi-trash"/>
                                </button>
                            }
                        </td>
                    </tr>
                }
                </tbody>
            </table>
            @if (ReadOnly == false)
            {
                <div class="mb-1">
                    <button class="btn btn-outline-secondary" @onclick=AddEventClick>Add Event</button>
                </div>
            }
        </div>
    </div>
</div>

@code {
    [CascadingParameter]
    public IModalService ModalService { get; set; } = default!;
    [Parameter, EditorRequired]
    public ScheduleViewModel Schedule { get; set; } = default!;
    [Parameter(CaptureUnmatchedValues = true)]
    public IDictionary<string, object>? AdditionalAttributes { get; set; }
    [Parameter]
    public bool ReadOnly { get; set; } = false;

    private ElementReference ScheduleNameInput { get; set; }

    private bool editName;
    public bool EditName
    {
        get => editName;
        set
        {
            editName = value;
            InvokeAsync(StateHasChanged);
        }
    }

    protected override void OnParametersSet()
    {
        _ = Schedule ?? throw new InvalidOperationException($"Parameter {nameof(Schedule)} not allowed to be null");
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (EditName)
        {
            await ScheduleNameInput.FocusAsync();
        }
        await base.OnAfterRenderAsync(firstRender);
    }

    private string DurationString(SessionViewModel? session)
    {
        if (session == null)
        {
            return "-";
        }

        var parts = new List<string>();
        if (session.Duration.TimeOfDay != TimeSpan.Zero)
        {
            parts.Add(session.Duration.ToString(@"HH:mm"));
        }
        if (session.Laps > 0)
        {
            parts.Add(session.Laps.ToString() + " Laps");
        }

        if (parts.Count == 0)
        {
            return "-";
        }

        return string.Join(" / ", parts);
    }

    private void EditNameClick()
    {
        EditName = true;
        InvokeAsync(StateHasChanged);
    }

    private async Task SaveName()
    {
        var success = await Schedule.SaveChangesAsync();
        await Task.Delay(1000);
        if (success)
        {
            EditName = false;
        }
    }

    private async Task OnTableRowClick(EventViewModel eventViewModel)
    {
        if (ReadOnly)
        {
            return;
        }
        //navigationManager.NavigateTo($"{LeagueName}/Results/Session/{sessionId}");
        var parameters = new ModalParameters()
            .Add(nameof(EditEventModal.EventModel), eventViewModel.CopyModel())
            .Add(nameof(EditEventModal.OnSubmit), 
                new Func<EventViewModel, CancellationToken, 
                    Task<StatusResult>>(async (@event, cancellationToken) => await @event.SaveChangesAsync(cancellationToken)));
        var options = new ModalOptions()
        {
            Size = ModalSize.Large,
            DisableBackgroundCancel = true,
        };
        var modal = ModalService.Show<EditEventModal>("Edit Event", parameters, options);
        var result = await modal.Result;
        if (result.Confirmed && result.Data is EventModel eventModel)
        {
            eventViewModel.SetModel(eventModel);
        }
    }

    private async Task AddEventClick()
    {
        if (ReadOnly)
        {
            return;
        }
        var parameters = new ModalParameters()
            .Add(nameof(EditEventModal.EventModel), await GetNewEvent())
            .Add(nameof(EditEventModal.OnSubmit),
                new Func<EventViewModel, CancellationToken, 
                    Task<StatusResult>>(async (@event, cancellationToken) => await Schedule.AddEvent(@event)));
        var options = new ModalOptions()
        {
            Size = ModalSize.Large,
            DisableBackgroundCancel = true,
        };
        var result = await ModalService.Show<EditEventModal>("Add Event", parameters, options).Result;
    }

    private async Task<EventModel> GetNewEvent()
    {
        await Schedule.LoadDefaultResultConfig();

        var newEvent = new EventModel() 
        { 
            Date = DateTime.UtcNow,
            ResultConfigs = Schedule.DefaultResultConfigs.ToArray(),
        };
        var lastEvent = Schedule.Events.LastOrDefault()?.CopyModel();
        if (lastEvent == null)
        {
            return newEvent;
        }

        newEvent.Date = lastEvent.Date;
        newEvent.Duration = lastEvent.Duration;
        newEvent.EventType = lastEvent.EventType;
        newEvent.Sessions = lastEvent.Sessions.Select(x => new SessionModel()
        {
            Duration = x.Duration,
            Laps = x.Laps,
            Name = x.Name,
            SessionNr = x.SessionNr,
            SessionType = x.SessionType,
        }).ToList();

        return newEvent;
    }

    private async Task RemoveEventClick(EventViewModel @event)
    {
        var parameters = new ModalParameters()
            .Add(nameof(ConfirmModal.Text), $"Are you sure you want to delete this Event? {@event.Name} - {@event.Date.ToString(@"dd.MM.yyyy")}")
            .Add(nameof(ConfirmModal.ButtonTypes), ButtonTypes.YesNo);
        var confirm = await ModalService.Show<ConfirmModal>("Delete Event", parameters).Result;
        if (confirm.Cancelled)
        {
            return;
        }
        await Schedule.RemoveEvent(@event);
    }

    private async Task ResetName()
    {
        if (EditName == false)
        {
            return;
        }
        await Schedule.Reload();
        EditName = false;
    }
}
