@page "/leagues"

@using iRLeagueApiCore.Client
@using iRLeagueApiCore.Client.Http
@using iRLeagueManager.Web.ViewModels;
@attribute [Authorize]
@inherits MvvmBlazor.Components.MvvmComponentBase
@inject LeaguesViewModel vm
@inject ILeagueApiClient apiClient


<h1>Leagues</h1>

@if (@Bind(vm, x => x.Status) == "Not Found")
{
    <p><em>Not Found!</em></p>
}
else if (@Bind(vm, x => x.Leagues) == null || @Bind(vm, x => x.Leagues).Count == 0)
{
    <p><em>Loading ...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var league in @Bind(vm, x => x.Leagues))
            {
                <tr>
                    <td>@Bind(league, x => x.LeagueId)</td>
                    <td><NavLink class="nav-link" href="@($"./{@Bind(league, x => x.LeagueName)}/Seasons")">@Bind(league, x => x.LeagueName)</NavLink></td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    protected override Task OnAfterRenderAsync(bool firstRender)
    {
        return vm.OnAfterRenderAsync(firstRender);
    }
}
