@page "/leagues"
@using iRLeagueApiCore.Communication.Models;
@using System.Text;
@using iRleagueManager.Web.ViewModels;
@inherits MvvmBlazor.Components.MvvmComponentBase<LeaguesViewModel>


<h1>Leagues</h1>

@if (@Bind(x => x.Leagues) == null)
{
    <p><em>Loading ...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var league in @Bind(x => x.Leagues))
            {
                <tr>
                    <td>@league.LeagueId</td>
                    <td><NavLink class="nav-link" href="@($"{Bind(league, x => x.LeagueName)}/seasons")">@Bind(league, x => x.LeagueName)</NavLink></td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
}
