@page "/leagues"

@using iRLeagueApiCore.Client
@using iRLeagueApiCore.Client.Http
@using iRleagueManager.Web.ViewModels;
@attribute [Authorize]
@inherits MvvmBlazor.Components.MvvmComponentBase<LeaguesViewModel>
@inject ILeagueApiClient apiClient


<h1>Leagues</h1>

@if (@Bind(x => x.Status) == "Not Found")
{
    <p><em>Not Found!</em></p>
}
else if (@Bind(x => x.Leagues) == null)
{
    <p><em>Loading ...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var league in @Bind(x => x.Leagues))
            {
                <tr>
                    <td>@league.LeagueId</td>
                    <td><NavLink class="nav-link" href="@($"{Bind(league, x => x.LeagueName)}/seasons")">@Bind(league, x => x.LeagueName)</NavLink></td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await BindingContext.Test();
        }
    }
}
