@page "/{LeagueName}/Seasons/{SeasonId:long}/Schedules"
@using iRLeagueManager.Web.ViewModels
@attribute [Authorize]
@inherits MvvmComponentBase
@inject LeagueApiService apiService
@inject SchedulesPageViewModel vm

<h3>Schedules</h3>

@if (@Bind(vm, x => x.Loading))
{
    <p><em>Loading...</em></p>
}
else if (apiService.CurrentSeason == null)
{
    <p><em>No season selected</em></p>
}
else
{
    <div>
        @foreach(var schedule in @Bind(vm, x => x.Schedules))
        {
            <div class="container">
                <h3>@Bind(schedule, x => x.Name)</h3>
                @if (@Bind(schedule, x => x.Loading))
                {
                    <p><em>Loading...</em></p>
                }
                else 
                {
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Name</th>
                            </tr>
                        </thead>
                        @foreach(var session in @Bind(schedule, x => x.Sessions))
                        {
                            <tr>
                                <td>@Bind(session, x => x.SessionId)</td>
                                <td>@Bind(session, x => x.Name)</td>
                            </tr>
                        }
                    </table>
                }
            </div>
        }
    </div>
}

@code {
    [Parameter]
    public string LeagueName { get; set; } = string.Empty;
    [Parameter]
    public long SeasonId { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        // set season state
        if (SeasonId != 0)
        {
            await apiService.SetCurrentSeasonAsync(LeagueName, SeasonId);
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender == false) return;

        // load schedules data
        if (apiService.CurrentSeason == null)
        {
            return;
        }

        await vm.Load();
        // load sessions to display
        foreach(var schedule in vm.Schedules)
        {
            await schedule.LoadSessions();
        }
    }
}
