@using iRLeagueApiCore.Common.Models
@using iRLeagueApiCore.Common.Enums
@inherits EditModalBase<LeagueViewModel, LeagueModel>

<EditForm Model=Vm OnValidSubmit=Submit>
    <StatusResultValidator @ref=ResultValidator/>
    <div class="input-group-list">
        <div class="input-group" disabled>
            <div class="input-group-text">
                <InputCheckbox class="form-check-input mt-0" @bind-Value=Vm.EnableProtests/>
            </div>
            <label class="form-control">Enable Protests</label>
        </div>
        @if (Vm.EnableProtests)
        {
            <InputGroup Label="Cooldown Period">
                <InputNumber class="form-control" @bind-Value=Vm.CoolDownHrs />
                <span class="input-group-text">Hrs</span>
                <InputNumber class="form-control" @bind-Value=Vm.CoolDownMinutes />
                <span class="input-group-text">Min</span>
            </InputGroup>
            <InputGroup Label="Protests Open for">
                <InputNumber class="form-control" @bind-Value=Vm.ProtestsClosedHrs />
                <span class="input-group-text">Hrs</span>
                <InputNumber class="form-control" @bind-Value=Vm.ProtestsClosedMinutes />
                <span class="input-group-text">Min</span>
            </InputGroup>
            <InputGroup Label="Enable live reviews">
                <InputSelect class="form-select" @bind-Value=Vm.ProtestFormAccess multiple="true">
                    <option value="@ProtestFormAccess.Public">Public</option>
                    <option value="@ProtestFormAccess.LeagueMembers">Registered league members</option>
                    <option value="@ProtestFormAccess.Participants">Participants in race</option>
                    <option value="@ProtestFormAccess.Password">Password protected</option>
                </InputSelect>
            </InputGroup>
            <InputGroup Label="Show Protests public">
                <InputSelect class="form-select" @bind-Value=Vm.ProtestPublic>
                    <option value="@ProtestPublicSetting.Hidden">Hide Protests</option>
                    <option value="@ProtestPublicSetting.WithoutProtester">Show Protests without Protester</option>
                    <option value="@ProtestPublicSetting.WithProtester">Show Protests and Protester</option>
                </InputSelect>
            </InputGroup>
        }
    </div>
    <CancelSubmitButtons SubmitText="Save" CancelText="Cancel" OnCancel=Cancel ModelState=Vm />
</EditForm>

@code {

}
