@using static iRLeagueManager.Web.ViewModels.PointRuleViewModel;
@inherits MvvmComponentBase

<div @attributes=AdditionalAttributes>
    <small>@GetPointTypeString()</small>
    @if (@Bind(PointRule, x => x.PointsPerPlace).Count() > 0)
    {
        <table class="overflow-scroll table table-sm">
            <thead>
                <tr>
                    <th><small>Pos.</small></th>
                    @foreach ((var point, var position) in @Bind(PointRule, x => x.PointsPerPlace).Select((x, i) => (x, i + 1)))
                    {
                        <th><small>@position.</small></th>
                    }
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th><small>Pts.</small></th>
                    @foreach (var point in @Bind(PointRule, x => x.PointsPerPlace))
                    {
                        <td><small>@point</small></td>
                    }
                </tr>
            </tbody>
        </table>
    }
</div>

@code {
    [Parameter(CaptureUnmatchedValues = true)]
    public IReadOnlyDictionary<string, object>? AdditionalAttributes { get; set; }
    [Parameter]
    public PointRuleViewModel PointRule { get; set; } = default!;

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        BlazorParameterNullException.ThrowIfNull(this, PointRule);
    }

    private string GetPointTypeString()
    {
        if (PointRule.PointsPerPlace.Count() == 0)
        {
            return "Keep points";
        }
        switch (PointRule.RuleType)
        {
            case PointRuleType.PointList:
                return "Points per place";
            case PointRuleType.MaxPoints:
                return $"Max pts.: {PointRule.MaxPoints}; Drop-off: {PointRule.PointDropOff}";
            case PointRuleType.Formula:
                return $"Formula";
        }
        return "Unknown";
    }
}
